@page
@model EncuestaRazorPages.Pages.TagHelpersModel
@{
}

<a asp-page="Index">Encuesta</a>
<form asp-page="Index">
	<img src="img/encuesta.png" asp-append-version="true" style="max-width:50%" />
</form>